<mat-card class="container">
    <mat-card-title class="title">
        <mat-icon (click)="navigateLeft()" class="left">keyboard_arrow_left</mat-icon>
        <div>Orders By Status</div>
        <mat-icon (click)="navigateRight()" class="right">keyboard_arrow_right</mat-icon>
    </mat-card-title>
    <mat-card-content id="ordersByStatus" #ordersByStatus>
        <div id="chartAndDataContainer">
            <div id="chartContainer" [ngClass]="{'half': chartControlsService.showData}">
                <app-donut-chart #ordersByStatusChart [data]="chartData"></app-donut-chart>
            </div>
            <div id="ordersByStatusTable" *ngIf="chartControlsService.showData">
                <table mat-table [dataSource]="orderStates" *ngIf="orderStates" class="mat-elevation-z8">
                    <ng-container matColumnDef="legend">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" [ngClass]="element.state">&#9632;</td>
                    </ng-container>
                    <ng-container matColumnDef="orderStatus">
                        <th mat-header-cell *matHeaderCellDef>Order Status</th>
                        <td mat-cell *matCellDef="let element">{{element.stateDisplayValue}}</td>
                    </ng-container>
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>Total</th>
                        <td mat-cell *matCellDef="let element">{{element.count}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
                </table>
            </div>
        </div>
        <mat-slide-toggle class="show-data" color="primary" 
            [checked]="chartControlsService.showData"
            (change)="toggleData($event)">
            Show data
        </mat-slide-toggle>
    </mat-card-content>
</mat-card>